<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/vue.min.js"></script>
</head>
<body>
    <!--
    Render 函数 动态生成模板
    基础***************************************************
    Vue 推荐在绝大多数情况下使用 template 来创建你的 HTML。然而在一些场景中，你真的需要 JavaScript 的完全编程的能力，
    这就是 render 函数，它比 template 更接近编译器。
    <h1>
      <a name="hello-world" href="#hello-world">
        Hello world!
      </a>
    </h1>
    在 HTML 层， 我们决定这样定义组件接口：
    <anchored-heading :level="1">Hello world!</anchored-heading> // 使用组件时prop传递level
    当我们开始写一个通过 level prop 动态生成heading 标签的组件，你可能很快想到这样实现：
    <script type="text/x-template" id="anchored-heading-template">
      <div>
        <h1 v-if="level === 1">
          <slot></slot>
        </h1>
        <h2 v-if="level === 2">
          <slot></slot>
        </h2>
        <h3 v-if="level === 3">
          <slot></slot>
        </h3>
      </div>
    </script>
    Vue.component('anchored-heading', {
      template: '#anchored-heading-template',
      props: {
        level: { // 接收到传递过来的prop
          type: Number,
          required: true
        }
      }
    })
    在这种场景中使用 template 并不是最好的选择：首先代码冗长，为了在不同级别的标题中插入锚点元素，
    我们需要重复地使用 <slot></slot>。其次由于组件必须有根节点，标题和锚点元素被包裹在了一个无用的 div 中

    虽然模板在大多数组件中都非常好用，但是在这里它就不是很简洁的了。那么，我们来尝试使用 render 函数重写上面的例子：
    Vue.component('anchored-heading', {
      render: function (createElement) {
        return createElement(
          'h' + this.level,   // tag name 标签名称
          this.$slots.default // 子组件中的阵列 内容保存在里面
        )
      },
      props: {
        level: {
          type: Number,
          required: true
        }
      }
    })
    简单清晰很多！简单来说，这样代码精简很多，但是需要非常熟悉 Vue 的实例属性。在这个例子中，
    你需要知道当你不使用 slot 属性向组件中传递内容时，比如 anchored-heading 中的 Hello world!, 这些子元素被存储在组件实例中的 $slots.default中
    -->

    <!--
    createElement 参数******************************

        第二件你需要熟悉的是如何在 createElement 函数中生成模板。这里是 createElement 接受的参数：
        // @returns {VNode}
        createElement(
          // {String | Object | Function}
          // 一个 HTML 标签字符串，组件选项对象，或者一个返回值类型为String/Object的函数，必要参数
          'div',

          // {Object}
          // 一个包含模板相关属性的数据对象
          // 这样，您可以在 template 中使用这些属性.可选参数.
          {
            // (详情见下一节)
          },

          // {String | Array}
          // 子节点(VNodes)，可以是一个字符串或者一个数组. 可选参数.
          [
            createElement('h1', 'hello world'),
            createElement(MyComponent, {
              props: {
                someProp: 'foo'
              }
            }),
            'bar'
          ]
        )
    -->

    <!--
    深入data object参数
        有一件事要注意：正如在模板语法中，v-bind:class 和 v-bind:style ，会被特别对待一样，在 VNode 数据对象中，下列属性名是级别最高的字段。
        {
          // 和`v-bind:class`一样的 API
          'class': {
            foo: true,
            bar: false
          },
          // 和`v-bind:style`一样的 API
          style: {
            color: 'red',
            fontSize: '14px'
          },
          // 正常的 HTML 特性
          attrs: {
            id: 'foo'
          },
          // 组件 props
          props: {
            myProp: 'bar'
          },
          // DOM 属性
          domProps: {
            innerHTML: 'baz'
          },

          // 事件监听器基于 "on"
          // 所以不再支持如 v-on:keyup.enter 修饰器
          // 需要手动匹配 keyCode。
          on: {
            click: this.clickHandler
          },

          // 仅对于组件，用于监听原生事件，而不是组件内部使用 vm.$emit 触发的事件。
          nativeOn: {
            click: this.nativeClickHandler
          },

          // 自定义指令. 注意事项：不能对绑定的旧值设值
          // Vue 会为您持续追踪
          directives: [
            {
              name: 'my-custom-directive',
              value: '2'
              expression: '1 + 1',
              arg: 'foo',
              modifiers: {
                bar: true
              }
            }
          ],

          // Scoped slots in the form of
          // { name: props => VNode | Array<VNode> }
          scopedSlots: {
            default: props => h('span', props.text)
          },
          // 如果组件是其他组件的子组件，需为slot指定名称
          slot: 'name-of-slot'
          // 其他特殊顶层属性
          key: 'myKey',
          ref: 'myRef'
        }
    -->

    <!-- 完整实例***********************************????
    var getChildrenTextContent = function (children) {
      return children.map(function (node) {
            // 返回一个由原数组中的每个元素调用一个指定方法后的返回值组成的新数组
            // array1.map(callbackfn[, thisArg])
            // array1 必需。 一个数组对象。
            // callbackfn 必需。 一个接受最多三个参数的函数。 对于数组中的每个元素，map 方法都会调用 callbackfn 函数一次。
            // thisArg 可选。 可在 callbackfn 函数中为其引用 this 关键字的对象。 如果省略 thisArg，则 undefined 将用作 this 值。
        return node.children
          ? getChildrenTextContent(node.children)
          : node.text
      }).join('')
    }
    Vue.component('anchored-heading', {
      render: function (createElement) {
        // create kebabCase id
        var headingId = getChildrenTextContent(this.$slots.default)
          .toLowerCase()
          .replace(/\W+/g, '-')
          .replace(/(^\-|\-$)/g, '')
        return createElement(
          'h' + this.level,
          [
            createElement('a', {
              attrs: {
                name: headingId,
                href: '#' + headingId
              }
            }, this.$slots.default)
          ]
        )
      },
      props: {
        level: {
          type: Number,
          required: true
        }
      }
    })
    -->

    <!--
    约束*****************************

    VNodes 必须唯一

    组件树中的所有 VNodes 必须是唯一的。这意味着，下面的 render function 是无效的：
    render: function (createElement) {
      var myParagraphVNode = createElement('p', 'hi')
      return createElement('div', [
        // 错误-重复的VNodes
        myParagraphVNode, myParagraphVNode
      ])
    }
    如果你真的需要重复很多次的元素/组件，你可以使用工厂函数来实现。例如，下面这个例子 render 函数完美有效地渲染了 20 个重复的段落：
    render: function (createElement) {
      return createElement('div',
        Array.apply(null, { length: 20 }).map(function () { // apply 将多个数组合并，区别于push
          return createElement('p', 'hi')
        })
      )
    }
    -->
</body>
</html>